<app-home-layout>
  <div
    class="d-flex flex-column justify-content-center align-items-center min-vh-100"
  >
    <h1>Welcome to our rental gallery!</h1>
    <app-button [routerLink]="['/management/models']"> View Models </app-button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4 d-flex justify-content-between">
        <app-brands-list-menu
          [initialSelectedBrandId]="selectedBrandId"
          (selectBrand)="onSelectBrand($event)"
        ></app-brands-list-menu>

        <app-transmissions-list-menu
          [initialSelectedTransmissionId]="selectedTransmissionId"
          (selectTransmission)="onSelectTransmission($event)"
        ></app-transmissions-list-menu>
      </div>

      <div class="col-8">
        <app-models-card-list
          [brandId]="selectedBrandId"
          [transmissionId]="selectedTransmissionId"
        >
        </app-models-card-list>
      </div>
    </div>
  </div>
</app-home-layout>
