<app-home-layout>
  <div class="home-image d-flex justify-content-center align-items-center">
    <div class="text-center text-white">
      <h1>Welcome to our rental gallery!</h1>
      <button
        class="btn btn-lg btn-primary"
        [routerLink]="['/management/models']"
      >
        View Models
      </button>
    </div>
  </div>

  <div class="my-3 model-image">
    <div class="row">
      <div class="col-md-6 mb-4 mx-2">
        <app-brands-list-menu
          [initialSelectedBrandId]="selectedBrandId"
          (selectBrand)="onSelectBrand($event)"
        ></app-brands-list-menu>
      </div>
      <div class="col-md-5 mb-4 mx-2">
        <app-transmissions-list-menu
          [initialSelectedTransmissionId]="selectedTransmissionId"
          (selectTransmission)="onSelectTransmission($event)"
        ></app-transmissions-list-menu>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-evenly mx-2">
      <app-models-card-list
        [brandId]="selectedBrandId"
        [transmissionId]="selectedTransmissionId"
      >
      </app-models-card-list>
    </div>
  </div>
</app-home-layout>
