:host {
  display: block;
}

.home-image {
  background-image: url("/assets/images/homepage/home-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.model-image {
  background-image: url("/assets/images/homepage/model-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 2rem 0;
}
