<table appTable class="table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Model Id</th>
      <th scope="col">Model Name</th>
      <th scope="col">Model Year</th>
      <th scope="col">Plate</th>
      <th scope="col">Daily Price</th>
      <th scope="col">State</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for (car of cars; track $index) {
    <tr>
      <th scope="row">{{ car.id }}</th>
      <td>{{ car.modelId }}</td>
      <td>{{ car.modelName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.plate }}</td>
      <td>{{ car.dailyPrice }}₺</td>
      <td>
        @if (car.state == 1) { Available } @else if (car.state == 2) { Rented }
        @else { Under Maintenance }
      </td>
      <td></td>
      <td>
        <div class="d-flex justify-content-end">
          <app-button
            [routerLink]="['/management/cars/edit', car.id]"
            variant="warning"
            >Edit</app-button
          >
          <app-button
            class="ms-3"
            data-bs-toggle="modal"
            data-bs-target="#deleteConfirmationModal"
            (click)="deleteCar(car.id!)"
            variant="danger"
            >Delete</app-button
          >
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>

<app-confirmation-pop-up
  *ngIf="showDeleteConfirmation"
  (confirm)="onDeleteConfirm()"
  (cancel)="onDeleteCancel()"
></app-confirmation-pop-up>
