<app-home-layout>
  <h1>Customer List</h1>
  <table appTable class="table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Company Name</th>
        <th scope="col">Roles</th>
        <th scope="col">Username</th>
        <th scope="col">Passsword</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Identity Number</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Country</th>
        <th scope="col">Zip Code</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for(customer of customers; track $index) {
      <tr>
        <th scope="row">{{ customer.id }}</th>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.companyName }}</td>
        <td>{{ customer.roles }}</td>
        <td>{{ customer.username }}</td>
        <td>{{ customer.password }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.identityNumber }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.state }}</td>
        <td>{{ customer.country }}</td>
        <td>{{ customer.zipCode }}</td>
        <td></td>
      </tr>
      }
    </tbody>
  </table>

  <router-outlet></router-outlet>
</app-home-layout>
