<table appTable class="table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Color</th>
      <th scope="col">View Details</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for (model of models; track $index) {
    <tr>
      <th scope="row">{{ model.id }}</th>
      <td>{{ model.name }}</td>
      <td>{{ model.color }}</td>
      <td>
        <a
          [routerLink]="['/management/models/detail/', model.id]"
          class="btn btn-success"
        >
          View Details
        </a>
      </td>
      <td></td>
      <td>
        <div class="d-flex justify-content-end">
          <app-button
            [routerLink]="['/management/models/edit', model.id]"
            variant="warning"
            >Edit</app-button
          >
          <app-button
            class="ms-3"
            data-bs-toggle="modal"
            data-bs-target="#deleteConfirmationModal"
            (click)="deleteModel(model.id!)"
            variant="danger"
            >Delete</app-button
          >
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>

<app-confirmation-pop-up
  *ngIf="showDeleteConfirmation"
  (confirm)="onDeleteConfirm()"
  (cancel)="onDeleteCancel()"
></app-confirmation-pop-up>
