<div class="card" style="width: 18rem">
  <img
    [src]="imageSrc"
    [alt]="imgAlt"
    class="card-img-top"
    width="250"
    height="250"
  />
  <div class="card-body">
    <div class="card-content">
      <h5 class="card-title">{{ title }}</h5>
      <div class="d-flex flex-column">
        <p class="card-text">
          <span class="label">Brand:</span> {{ brandName }} <br />
          <span class="label">Fuel:</span> {{ fuelName }} <br />
          <span class="label">Transmission:</span> {{ transmissionName }}
          <br />
          <span class="label">Color:</span> {{ model.color }} <br />
          <span class="label">Car Price:</span> {{ dailyPrice }}₺ <br /><br />
        </p>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-primary w-100"
      (click)="buttonClick.emit()"
      [routerLink]="['management/models/rent']"
    >
      {{ buttonLabel }}
    </button>
  </div>
</div>
