<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <!-- Model Id -->
  <div class="mt-3 d-flex flex-column form-control">
    <div class="form-group">
      <label for="modelIdInput" class="form-label">Model Id:</label>
      <input
        formControlName="modelId"
        type="number"
        id="modelIdInput"
        class="form-control mt-3"
        placeholder="Enter model id"
      />
    </div>

    <!-- Model Year -->
    <div class="form-group">
      <label for="modelYearInput" class="form-label">Model Year:</label>
      <input
        formControlName="modelYear"
        type="number"
        id="modelYearInput"
        class="form-control mt-3"
        placeholder="Enter model year"
      />
    </div>

    <!-- Plate -->
    <div class="form-group">
      <label for="plateInput" class="form-label">Plate:</label>
      <input
        formControlName="plate"
        type="text"
        id="plateInput"
        class="form-control mt-3"
        placeholder="Enter plate"
      />
    </div>

    <!-- State -->
    <div class="form-group">
      <label for="stateInput" class="form-label">State:</label>
      <select formControlName="state" id="stateInput" class="form-control mt-3">
        <option value="1">Available</option>
        <option value="2">Rented</option>
        <option value="3">Under Maintenance</option>
      </select>
    </div>

    <!-- Daily Price -->
    <div class="form-group">
      <label for="dailyPriceInput" class="form-label">Daily Price:</label>
      <input
        formControlName="dailyPrice"
        type="number"
        id="dailyPriceInput"
        class="form-control mt-3"
        placeholder="Enter daily price"
      />
    </div>

    <app-button type="submit" class="mt-3"> Edit Car </app-button>
  </div>
</form>
